.box {
    color: grey;
    padding: 1em;
    text-align: center;
    border-radius: 4px;
    border: 1px grey dashed;
    background-color: white;
}

.conceal .box {
	color: green;
	border-color: green;
}